@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.High-w-70 {
    width: 70vw;
    height: 100vh;
}


.template-0001 {
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -99;
    margin-top: -25px;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;

}
.template-0002{
    width: 100vw;
    height: 50vh;
    border: 2px solid pink;
}
.template-0002>font{
    width: 80%;
    /* font-family: common-ligatures,serif; */
    font-family: "Playfair Display",serif;
    /* font-variant-ligatures: common-ligatures; */
}
.size100{
    width: 100%;
    height: 100%;
}

.f-size{
    width: 100vw;
    height: 100vh;
}