.logo {
    width: 50vw;
    padding-left: 40px;
}
.whitenav{
    background-color: #fff !important;
    box-shadow: 0 7px 10px #00000021;
  }

.logo>img {
    height: 50px;
    width: 70px;
}

.m-auto {
    display: block;
    /* margin-top: 20px; */
    margin: 20px 14px;
}

.nav-ul {
    margin: 0 20px;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.w-half {
    width: 50vw;
}

.navbar {
    position: fixed;
}

.navbar>ul>li>a {
    color: #ff9600;
    /* padding: 5px 15px; */
    /* font-size: 16px; */
    letter-spacing: -0.5px;
    font-weight: 700;
    font-family: inherit;
    line-height: inherit;
    font-style: normal;

    font-family: common-ligatures,serif;
    font-variant-ligatures: common-ligatures;
}